/* Definición de variables para colores */
:root {
    --colorPrimary: #988715;
    --colorPrimaryDark: #3C3402;
    --colorSecondary: #009fe3;
  }
  
  .admin-dashboard {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .admin-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--colorPrimary);
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  
  .admin-header-left,
  .admin-header-right {
    font-size: 18px;
    color: white;
  }
  
  .cerrar-sesion {
    background-color: var(--colorPrimaryDark);
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .primary-button {
    background-color: var(--colorSecondary);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 16px;
  }
  
  /* Contenedor de secciones alineadas horizontalmente */
  .admin-sections {
    display: flex;
    justify-content: space-between;
  }
  
  .section {
    position: relative;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 20px;
    flex: 1;
    margin-right: 10px;
    overflow: hidden; /* Oculta el exceso del fondo */
    background-size: auto; /* Ajusta la imagen para que se muestre en su tamaño original */
    background-position: center; /* Centra la imagen en caso de que sobre espacio */
    background-repeat: repeat; /* Repite la imagen como mosaico */
  }
  
  .section:last-child {
    margin-right: 0;
  }
  
  /* Aplicar opacidad directamente a la imagen de fondo usando un degradado */
  .section.eventos {
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url('/src/eventos.jpeg');
  }
  .item .evento-imagen {
    width: 100px; /* Ajusta el tamaño de la imagen */
    height: auto; /* Mantiene la proporción */
    margin-bottom: 10px; /* Espacio debajo de la imagen */
    display: block; /* Asegura que la imagen no se superponga */
  }
  
  .section.sugerencias {
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url('/src/sugerencias.jpeg');
  }
  
  .section.solicitudes {
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url('/src/solicitudes.jpeg');
  }
  
  .section h2 {
    font-size: 24px;
    color: var(--colorPrimary);
    margin-bottom: 10px;
  }
  
  .section .item {
    position: relative; /* Ajuste para permitir el z-index */
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
    z-index: 2; /* Asegura que los elementos estén encima del pseudo-elemento */
  }
  
  .section .item h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: var(--colorPrimaryDark);
  }
  
  .section .item p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .section .item .primary-button {
    background-color: var(--colorSecondary);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .section .item .danger-button {
    background-color: #e53935;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .form input,
  .form textarea {
    width: calc(50% - 10px);
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
  }
  
  .form input[type="file"] {
    width: 100%;
  }
  
  .form button {
    background-color: var(--colorSecondary);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
  }
  /* Media Queries para Responsividad */
@media (max-width: 1200px) {
  .admin-sections {
    flex-direction: column;
  }

  .section {
    margin-right: 0;
    margin-bottom: 20px; /* Añadir espacio entre secciones en dispositivos móviles */
  }
}

@media (max-width: 768px) {
  .admin-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .admin-header-left,
  .admin-header-right {
    font-size: 16px; /* Ajustar tamaño de fuente en dispositivos más pequeños */
  }

  .cerrar-sesion,
  .primary-button {
    padding: 8px 16px; /* Ajustar padding en dispositivos más pequeños */
    font-size: 14px; /* Ajustar tamaño de fuente en dispositivos más pequeños */
  }

  .admin-sections {
    flex-direction: column;
  }

  .section {
    margin-right: 0;
    margin-bottom: 20px; /* Añadir espacio entre secciones en dispositivos móviles */
  }

  .section h2 {
    font-size: 20px; /* Ajustar tamaño de fuente en dispositivos más pequeños */
  }

  .section .item h3 {
    font-size: 18px; /* Ajustar tamaño de fuente en dispositivos más pequeños */
  }

  .section .item p {
    font-size: 14px; /* Ajustar tamaño de fuente en dispositivos más pequeños */
  }

  .section .item .primary-button,
  .section .item .danger-button {
    padding: 8px 16px; /* Ajustar padding en dispositivos más pequeños */
    font-size: 14px; /* Ajustar tamaño de fuente en dispositivos más pequeños */
  }

  .form input,
  .form textarea {
    width: 100%; /* Ajustar ancho en dispositivos más pequeños */
    margin-bottom: 10px;
  }
}

  