/* SplashScreen.css */

.splash-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Ajusta el alto según tus necesidades */
}

.logo {
  width: 250px; /* Tamaño del logo */
  height: auto;
  margin-bottom: 20px; /* Espacio entre el logo y el texto */
}

.splash-text {
  font-size: 3rem; /* Tamaño del texto */
  color: #ffffff; /* Color del texto (blanco) */
  font-weight: bold; /* Fuente en negrita */
}
